/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    footer > section {
        flex-direction: column-reverse;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    :root {
		--line-height: 30px;
	}

    h1 {
        font-size: 1.476rem;
    }
    
    h2 {
        font-size: 1.383rem;
    }
    
    h3 {
        font-size: 1.296rem;
    }
    
    h4 {
        font-size: 1.215rem;
    }
    
    h5 {
        font-size: 1.138rem;
    }
    
    h6 {
        font-size: 1.067rem;
    }

    .post header {
        width: unset;
    }

    .post-preview {
        flex-direction: column-reverse;
        align-items: start;
        margin-bottom: calc(var(--space) * 0.5)
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .post-navigation {
        flex-direction: column;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}