@import 'fonts.css';

:root {
	--primary-color: #ff4d00;
	--secondary-color: #047a76;
	--white: #fdfdfc;
	--black: #111110;
	--grey: #9198A1;
	--space: 1rem;
	--font-family: 'Estedad', 'Open Sans', sans-serif;
	--header-font-family: 'Estedad', 'Open Sans', sans-serif;
	--monospace-font-family: 'JetBrains Mono', monospace;
	--default-font-size: 1rem;
	--word-spacing: 0.5px;
	--line-height: 2rem;
	--border-radius: 0px;
	--container-size: 750px;
}

html {
	--background-color: var(--white);
	--box-background-color: color-mix(in srgb, var(--background-color), black 1%);
	--text-color: #333333;
	--header-color: #222221;
	--border-color: #e2e1de;
}

html[theme=dark] {
	--background-color: var(--black);
	--box-background-color: color-mix(in srgb, var(--background-color), white 1%);
	--text-color: var(--grey);
	--header-color: var(--white);
	--border-color: #31312e;
}