@import 'fonts.css';

:root {
	--primary-color: #2455c3;
	--white: #fff;
	--black: #0d1117;
	--grey: #333;
	--muted: #9a9a9a;
	--space: 1rem;
	--font-family: 'Estedad', 'Open Sans', sans-serif;
	--monospace-font-family: 'JetBrains Mono', monospace;
	--default-font-size: 1rem;
	--word-spacing: 0.3px;
	--line-height: 2rem;
	--border-radius: 0px;
	--container-size: 750px;
}

html {
	--background-color: var(--white);
	--text-color: var(--grey);
	--header-color: var(--black);
	--input-color: var(--white);
	--border-color: #e3e3e3;
	--label-color: var(--muted);
}